.padding-bottom-7 {
    padding-bottom: 7px !important;
}

.padding-top-7 {
    padding-top: 7px !important;
}

.padding-5 {
    padding: 5px !important;
}

.margin-left-7 {
    margin-left: 7px !important;
}

.margin-bottom-7 {
    margin-bottom: 7px !important;
}

label.required:after {
    content: '*';
    padding-left: 3px;
    color: red;
}

.text-plain {
    font-weight: normal !important;
}

@media only screen and (min-width: 768px) {
    .override-group-form-right-margin {
        margin-right: -15px !important;
        margin-left: 7px !important;
    }

    .override-group-form-right-padding {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .override-group-form-margin {
        margin-right: 15px !important;
        margin-left: -9px !important;
    }

    .override-group-form-padding {
        padding-right: 4px !important;
        padding-left: 0 !important;
    }
}

@media only screen and (max-width: 768px) {
    .override-group-form-right-margin {
    }

    .override-group-form-right-padding {
    }

    .override-group-form-margin {
    }

    .override-group-form-padding {
    }
}

.note-editable {
    min-height: 327px !important;
}